<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531913213367-r29h05arcdj81kqeot76dfsqctd09ik9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531913213367-r29h05arcdj81kqeot76dfsqctd09ik9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531913213367-1h4jop3iebujangia2nef2evj7trefdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWd4yYt86ZC4srglCKVIwlTrKm57HynqA</string>
	<key>GCM_SENDER_ID</key>
	<string>531913213367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scmcc.app</string>
	<key>PROJECT_ID</key>
	<string>musalla-b1ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>musalla-b1ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531913213367:ios:5be127c113f42f1c14d432</string>
</dict>
</plist>